Repository sosreport/sos, pull requests merged in 2025-08, with the labels that each got.

#4092 [upload] Enable sos uploads of files bigger than 1Gb
  sos/upload/targets/__init__.py
  sos/upload/targets/redhat.py
Labels: Reviewed/Ready for Merge

#4097 [apt] add list of held apt packages sos_commands
  sos/report/plugins/apt.py
Labels: Reviewed/Ready for Merge, Kind/Collection

#4100 [snapm] add new plugin
  sos/report/plugins/snapm.py
Labels: Reviewed/Ready for Merge, Kind/RedHat, Kind/New plugin

#4102 [loki] Fetch loki logs
  sos/report/plugins/loki.py
Labels: Reviewed/Ready for Merge, Kind/Good First Issue, Kind/New plugin, Kind/Collection
